html {
   min-height: 100%;
   background-image:url(galaxy.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
body {
	background-color: transparent;
}

h2 {
	color:#ADD8E6;
	text-align: center;
}

p {
	text-shadow: center;
	color:white;
	
}

topimg {
	float:right;
}

p {
    text-align:center;
}
